# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
.pytest_cache

#git
.git
.gitignore

# Compose + infra
docker-compose*.yml
compose*.yml
*.compose
*.compose.yaml

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.local
.env.example

# Project-Specific Data
_archive
.copilot
.vscode

README.md
Architecture.md
