# ==========================================
# Python
# ==========================================
__pycache__/
*.pyc
*.pyo
.pytest_cache

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.local

# Version control and editor files
.git
_archive
.copilot
.vscode

# Docker compose
compose.test.yaml
compose.db.yaml
compose.yaml

# Project specific file
Architecture.md
