# ignore virtual environment
venv/
.venv/
# ignore Python cache files
__pycache__/
*.pyc
*.pyo

# ignore environment files
.env

#ignore settings and irrelevant files
.vscode/
sql_m/
.copilot/
_archive/

database.db