services:
  app:
    build: .
    ports:
      - "8000:8000"

    command: [ "uvicorn", "app.main:app", "--reload", "--host", "0.0.0.0", "--port", "8000" ]

    env_file:
      - .env
    environment:
      DATABASE_URL: postgresql://postgres:${POSTGRES_PASSWORD}@db:5432/expense_db

    depends_on:
      db:
        condition: service_healthy

    volumes:
      - .:/app

  db:
    image: postgres:16-alpine
    command: ["postgres", "-c", "log_statement=none"]
    ports:
      - "5432:5432"

    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: expense_db

    volumes:
      - pgdata:/var/lib/postgresql/data

    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U postgres" ]
      interval: 2s
      timeout: 5s
      retries: 10

volumes:
  pgdata:
